#preview{
    width: 50vw;
    height:70vw;
    padding-top:3vw;
    background: url(/docs/assets/frame.png) no-repeat center center;
    background-size: contain;
    z-index: 0;
    display:flex;
    justify-content: center;
    align-items: center;
    -webkit-print-color-adjust: exact;
}
.card-text{
    width:70%;
    height:30%;
    border: 2px solid black;
    border-radius: 10px;
    display:flex;
    position: relative;
    bottom: 20%;
    justify-content: center;
    align-items: center;
    font-size: fit-content;
}
.page-box{
    width:210mm;
    height:297mm;
    display:block;
}
.print-container{
    display:block;
    position:absolute;
    top:0;
    left:0;
    padding:0;
}