.preview{
    width: min(50vw,250px);
    height:min(50vw,350px);
    margin-top:3vw;
    background: url(./assets/300ppi/Front.png) no-repeat center center;
    background-size: contain;
    z-index: 0;
    display:flex;
    justify-content: center;
    align-items: center;
    -webkit-print-color-adjust: exact;
}
.card{
    width:2.5in !important;
    height:3.5in !important;
    padding:0 !important;
    align-self: center;
    justify-self: center;
}
.card-text{
    width:69%;
    height:78%;
    /* border: 2px solid black; */
    border-radius: 10px;
    display:flex;
    position: relative;
    /* top: 20%; */
    justify-content: center;
    align-items: center;

}
.inner-text{
    font-family: Helvetica;
    text-align: center;
    font-size: inherit;
}
.page-box{
    width:200mm;
    height:282mm;
    margin-top:2mm;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}
.background{
    background: url(./assets/300ppi/Back.png) center center;
    margin-top:5mm;
    background-size: contain;
    -webkit-print-color-adjust: exact;
}
.print-container{
    display:block;
    position:absolute;
    top:0;
    left:0;
    padding:0;
}
@page{
    /* size: 210mm 297mm; */
    size:A4;
    margin:0;
}